doctype html
html(lang="en", ng-app="tenside")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= "Tenside UI"

    each stylesheet in stylesheets
      link(rel="stylesheet", href=stylesheet)

    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    <![endif]-->

  body
    .loading-indicator(ng-show="loading")
      .container
        span.spinner
          i.fa.fa-refresh.fa-spin
          span(translate="LOADING")
    header
      nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
              span.sr-only= "Toggle navigation"
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#") Tenside
              | &nbsp;
              small(translate) SLOGAN
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li(role="presentation", ngClass="{active: isActive('/packages')}")
                a(href="#packages")
                  i.fa.fa-archive  Packages
              li(role="presentation", ngClass="{active: isActive('/search')}")
                a(href="#search")
                  i.fa.fa-search  Browse
              li(role="presentation", ngClass="{active: isActive('/editor')}", ng-show="expertsMode")
                a(href="#editor")
                  i.fa.fa-file-code-o  composer.json
              li(role="presentation", ngClass="{active: isActive('/config')}", ng-show="expertsMode")
                a(href="#config")
                  i.fa.fa-gears  Config

        .tenside-search
          form.form(role="search", ng-controller="tensideSearchHeader")
            .container
              .form-group(style="display:inline;")
                .input-group
                  span.input-group-addon
                    span.fa.fa-search
                  input.form-control(type="search", placeholder="Search packages", ng-model="keywords", ng-class="{'search__input--focus': focused}", ng-init="focused = false", ng-focus="focused = true", ng-blur="focused = false")
                  span.input-group-btn
                    button.btn.btn-default(type="submit", ng-click="search()") Search
    .body
      .container
        block content

    footer
      .container
        .row
          .col-md-2
            p
              a(href="https://github.com/tenside/ui/commit/#{app.tensideVersion}", target="_blank") Tenside #{app.tensideVersion}
            p
              a(href="https://github.com/composer/composer/commit/#{app.composerVersion}", target="_blank") Composer #{app.composerVersion}

          .col-md-2
            p
              a(href="#/about") About

            p
              a(href="#/support") Support

          .col-md-8.text-right
            label.checkbox
              input(type="checkbox", ng-model="expertsMode")
              | Toggle experts mode

    script.
      var TENSIDEApi=#{app.tensideApi};

    each javascript in javascripts
      script(src=javascript)
